body {
	background-image: url(Images/Background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
	}

#Logo {
	margin-left: 0;
	width: 60px;
	height: 50px;
	}

#LogoC {
	background-color: #811;
	width: 60px;
	height: 52.5px;
	margin-left: 5px;
	margin-top: 2.5px;
    margin-bottom: 2.5px;
	border-radius: 50px;
    float: left;
    transition: background-color 0.5s;
	}

#LogoC:hover {
    background-color: #511;
}

#NavIcon {
	width: 50px;
	height: 50px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    float: right;
    transition: background-color 0.3s;
    border-radius: 10px;
	background-color: #811;
	}

#NavIcon:hover {
    background-color: #511;
    }

#Main {
	background-image: repeating-linear-gradient(to top, #900, #300);
	height: 1000px;
	width: 90%;
	margin: auto;
    margin-bottom: 30px;
	}

#MBar {
	background-color: #911;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	}

#nav {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 0;
    background-color: dimgrey;
    transition: 1s;
    overflow: hidden;
    }

.closebtn {
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 30px;
    }